#user-historic-column {
  width: 12vmin;
  height: 96vh;
  border-radius: 2vmin;
  background-color: #394756;
  box-shadow: rgb(0, 0, 0, 0.3) 0px 0px 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 2vmin;
  transition: 0.2s ease-in-out;
}
#user-historic-column:hover {
  width: 32vmin;
  #user-main-section-name {
    transition-delay: 0.3s;
    transition-property: opacity;
    opacity: 1;
  }
  #match-component {
    width: 26vmin;
    background-color: #2E3547;
    border-radius: 1vmin;
  }
  #result-content {
    transition-delay: 0.3s;
    transition-property: opacity;
    opacity: 1;
  }
}
#user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#user-main-section-pic {
  width: 8vmin;
  height: 8vmin;
  border-radius: 1vmin;
  margin-top: 2vmin;
  margin-left: 2vmin;
  box-shadow: rgb(0, 0, 0, 0.2) 0px 0px 10px;
  -webkit-user-drag: none;
}
#user-main-section-name {
  font-family: 'Futura PT', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
  padding-top: 1.5vmin;
  padding-left: 2vmin;
  user-select: none;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
  transition-duration: 0.2s;
  opacity: 0;
}
#user-historic-column:not(:hover) #user-main-section-name {
  transition-duration: 0s;
  opacity: 0;
}

#match-queue {
  display: flex;
  flex-direction: column;
  gap: 1.5vmin;
  width: 100%;
  height: 100%;
  padding-top: 4vmin;
  padding-left: 3vmin;
  transition: 0.2s ease-in-out;
}