.pic-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#pic-columns {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}
#ref-pic {
  display: none;
}
.pic-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
}
#select-cancel-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15%;
}
.image {
  width: 8vmin;
  height: 8vmin;
  border-radius: 1vmin;
  box-shadow: rgb(0, 0, 0, 0.3) 0px 0px 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}