@import url('https://fonts.cdnfonts.com/css/futura-pt');

.login-register {
  font-family: 'Futura PT', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 2.2vmin;
  user-select: none;
}
.switch-component {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 32vmin;
  height: 6vmin;
  background-color: rgba(48, 57, 77, 0.445);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 18px;
  backdrop-filter: blur(8px);
  border-radius: 3vmin;
}
.switch-component input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.slider::before {
  position: absolute;
  content: "";
  height: 4vmin;
  width: 14vmin;
  left: 1vmin;
  bottom: 1vmin;
  background-color: white;
  border-radius: 2vmin;
  transition: 0.2s;
}
input:checked + .slider::before {
  transform: translateX(16vmin);
}